Package: com.techx.quitall
Name: QuitAll
Depends: firmware (>= 15.0), ellekit
Conflicts: com.p2kdev.quitall, com.cemck.killx, com.cemck.killx-pro
Version: 1.3.2
Architecture: iphoneos-arm
Description: Swipe down on app switcher card to kill all apps!
Maintainer: TechXDev <techx@opayq.com>
Author: TechXDev <techx@opayq.com>
Section: Tweaks
