Package: com.techx.quitall
Name: QuitAll
Depends: mobilesubstrate
Version: 1.3
Architecture: iphoneos-arm
Description: Swipe down on app switcher card to kill all apps!
Maintainer: techx <techx@opayq.com>
Author: techx <techx@opayq.com>
Section: Tweaks
